* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

section {
    padding: 25px;
    background-color: antiquewhite;
    height: 100vh;
}
ul {
    list-style-type: none;
    margin: 20px 10px;
}

li {
    display: inline-block;
    padding: 6px 5px;
    
}
li > a {
    text-decoration: none;
    font-size: small;
    font-weight: 100;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
}

.header-title {
    margin-left: 6px;
    font-size: large;
    font-weight: 600;
}
.logo {
    height: 250px;
    width: 100%;
    display: block;
}
.our-mission {
    margin-top: 20px;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
}
:visited {
    color: black;
}
.hero {
    margin: 20px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(212, 146, 65);
    padding: 20px;
    border-radius: 4px;
}
.hero-text > h2 {
    color: black;
    font-size: 17px;
}

.hero-button {
    padding: 6px 12px;
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 6px;
    font-size: 10px;
    
}
.footer {
    background-color: black;
    color: gray;
    height: 40px;
    text-align: center;
    width: 100%;
    padding: 12px;
    font-size: small;
}
.mainpanel {
    background-image: url('./images//image54.png');
    background-size: cover;
    height: 60vh;
    width: 100vw;
    
    padding: 30px 25px;
}
.mainpanel > h1 {
    color: white;
    margin-top: 20px;
}
.mainpanel > p {
    color: white;
    margin: 25px 15px;
    font-weight: 500;
}
.findyourvan {
    width: 95%;
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: rgb(169, 116, 18);
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    display: block;
    border: none;
    box-shadow: 2px 2px 2px gray;
}